.jumbotron {
	background-color: #cfd9e2;
	border-color: #cfd9e2;
}

.space {
	background-color: #cfd9e2;
	border-color: white;
	color: white;
}

.logo {
	width: 40px;
	height: 40px;
	margin-top: -10px;
}